
Binaries
DerivedDataCache
Intermediate
Saved
Build
**/Geometry
**/Mannequin
**/ThirdPerson
**/ThirdPersonBP
**/LearningKit_Games
**/MilitaryWeapSilver
**/AnimStarterPack
**/Mixamo
**/Animations
**/After
**/Low_Poly_Viking_World
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
